{%- assign formats = site.data[site.metadata] | map: "format" -%}
{%- assign types = "image;audio;video;application" | split: ";" -%}
<div class="card mb-3" >
    <div class="card-body">
        <h5 class="card-title">Tipoloxía da colección</h5>
        <p class="card-text">
            {% for t in types %}
            {%- assign count = formats | where_exp: 'item','item contains t' | size -%}
            {% if count > 0 %}
            {{ count }}
            {% case t %}
            {% when 'image' %} 
            <svg class="bi icon-sprite text-body" fill="currentColor" aria-hidden="true"><use xlink:href="{{ '/assets/lib/cb-icons.svg' | relative_url }}#icon-image"/></svg> <a class="text-dark" href="{{ 'image' | prepend: '/browse.html#' | relative_url }}"> imaxes</a><br>
            {% when 'audio' %}
            <a class="text-dark" href="{{ 'audio' | prepend: '/browse.html#' | relative_url }}">sons <svg class="bi icon-sprite text-body" fill="currentColor" aria-hidden="true"><use xlink:href="{{ '/assets/lib/cb-icons.svg' | relative_url }}#icon-audio"/></svg></a><br>
            {% when 'video' %}
            <a class="text-dark" href="{{ 'video' | prepend: '/browse.html#' | relative_url }}">vídeos <svg class="bi icon-sprite text-body" fill="currentColor" aria-hidden="true"><use xlink:href="{{ '/assets/lib/cb-icons.svg' | relative_url }}#icon-video"/></svg></a><br>
            {% else %}
            <a class="text-dark" href="{{ 'pdf' | prepend: '/browse.html#' | relative_url }}">documentos <svg class="bi icon-sprite text-body" fill="currentColor" aria-hidden="true"><use xlink:href="{{ '/assets/lib/cb-icons.svg' | relative_url }}#icon-pdf"/></svg></a><br>
            {% endcase %}
            {% endif %}
            {%- endfor -%}
            <a class="btn btn-sm btn-primary mt-2" href="{{ '/data.html' | relative_url }}">Ver Colección</a>
        </p>
    </div>
</div>
