<!doctype html>
<html lang="es" class="h-100">
<head prefix="og: http://ogp.me/ns#">
    {% include head/head.html %}
</head>

  <div class="container">
   <div class="row justify-content-md-center">
    <div class="col-md-auto">
     {% include index/menulateral.html %}
	</div>
	<div class="col -md-auto">
		<main id="maincontent" role="main" class="flex-shrink-0">
		{{ content }}
		</main>
	</div>
		{% include footer.html %}
		{% include foot.html %}
		{% include scroll-to-top.html %}
   </div>
</div>

</html>