<!doctype html>
<html lang="en" class="h-100">
  <head prefix="og: http://ogp.me/ns#">
    {% include head/head.html %}
  </head>
  <body class="d-flex flex-column h-100">
    <div id="skip-to-content"><a href="#maincontent">Skip to main content</a></div>
    <div class="b-example-divider"></div>
<div class="container">
<header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 bg-primary mb-4 border-bottom">
<a href="/" class="d-flex align-items-center col-md-3 mb-2 mb-md-0 text-white text-decoration-none">
<svg class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap"><use xlink:href="#bootstrap" /></svg>
</a>
<ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
<li><a href="#" class="nav-link px-2 link-secondary">Inicio</a></li>
<li><a href="#" class="nav-link px-2 link-dark">O museo</a></li>
<li><a href="#" class="nav-link px-2 link-dark">Coleccións</a></li>
<li><a href="#" class="nav-link px-2 link-dark">Visitas</a></li>
<li><a href="#" class="nav-link px-2 link-dark">Eventos</a></li>
</ul>
<div class="col-md-3 text-end">
<button type="button" class="btn btn-outline-white me-2">Iniciar sesión</button>
<button type="button" class="btn btn-outline-white">Rexistrarse</button>
</div>
</div>
    <main id="maincontent" role="main" class="flex-shrink-0">
    {{ content }}
    </main>
    {% include foot.html %}
    {% include scroll-to-top.html %}
  </body>
</html>