---
# Páxina "Museo"
layout: paxina
custom-foot: js/browse-js.html
---

{%- assign items = site.data[site.metadata] -%}

<div class="row align-items-center">

 	<div class="col-md-6">  

	<h2 class>Benvid@s</h2>
	<p class>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English.</p>
	<a class="btn btn-primary" href="{{ '/coleccion.html' | relative_url }}" >Ver Exposición permanente &raquo;</a>
    	
	</div>
 
	<div class="col-md-6">  

     {% include index/carousel.html height="300" %}
	</div>
	
	<div class="h2">Exposicións temporais</div>
</br>
 
</div>

<div class="row row-cols-1 row-cols-md-3 g-4">
  <div class="col">
    <div class="card h-100">
      <img src="https://lpitac.github.io/memoria_virtual/assets/portadas_expos/portada02.png" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Expo 1</h5>
        <p class="card-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
      </div>
      <div class="card-footer text-center">
        <a href="https://lpitac.github.io/memoria_virtual/browse.html#f110" class="btn btn-primary">Ver exposición</a>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card h-100">
      <img src="https://lpitac.github.io/memoria_virtual/assets/portadas_expos/portada02.png" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Expo 2</h5>
        <p class="card-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
      </div>
     <div class="card-footer text-center">
        <a href="https://lpitac.github.io/memoria_virtual/browse.html#f110" class="btn btn-primary">Ver exposición</a>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card h-100">
      <img src="https://lpitac.github.io/memoria_virtual/assets/portadas_expos/portada03.png" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Expo 3</h5>
        <p class="card-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
      </div>
      <div class="card-footer text-center">
        <a href="https://lpitac.github.io/memoria_virtual/browse.html#f110" class="btn btn-primary">Ver exposición</a>
      </div>
    </div>
  </div>
</div>

{% comment %}
<div class="container">
<div class="row">

 	<div class="col-md-4">	
	{% include feature/card.html header="Expo 1" text="The card features an image from the collection as a cap" objectid="id001001" centered=true %}
	{%- assign btn-text = include.btn-text | default: "Ver recurso" -%}
	</div>
	<div class="col-md-4">
	{% include feature/card.html header="Expo 2" text="The card features an image from the collection as a cap" objectid="id001002" centered=true %}
	</div>
	<div class="col-md-4">
	{% include feature/card.html header="Expo 3" text="The card features an image from the collection as a cap" objectid="id001003" centered=true %}
	</div>
</div>
</div>
{%- endcomment -%}
	
