---
# Páxina "Museo"
layout: paxina
custom-foot: js/browse-js.html
---

{{ content }}

{%- assign items = site.data[site.metadata] -%}

<div class="row">

 	<div class="col-md-6">  

	{% include index/benvida.html %}
    	
	</div>
 
	<div class="col-md-6">  

     {% include index/carousel.html height="300" %}
	</div>
	
	<div class="h2">Exposicións temporais</div>

 
</div>

<div class="row">

 	<div class="col">	
	{% include feature/card.html header="Expo 1" text="The card features an image from the collection as a cap" objectid="id001001" width="25" centered=true %}
	</div>
	<div class="col">
	{% include feature/card.html header="Expo 2" text="The card features an image from the collection as a cap" objectid="id001002" width="25" centered=true %}
	</div>
	<div class="col">
	{% include feature/card.html header="Expo 3" text="The card features an image from the collection as a cap" objectid="id001003" width="25" centered=true %}
	</div>
</div>
 	<div class="col-md-12">  
	{% include feature/image.html objectid="/assets/portadas_expos/portada01.png"  %}
	
	{% include feature/image.html objectid="/assets/portadas_expos/portada02.png"  %}
	
	{% include feature/image.html objectid="/assets/portadas_expos/portada03.png"  %}
	</div>
