---
# Páxina "Museo"
layout: paxina
custom-foot: js/browse-js.html
---

{{ content }}

{%- assign items = site.data[site.metadata] -%}

<div class="row">

 	<div class="col-md-6">  

	{% include index/benvida.html %}
    	
	</div>
 
	<div class="col-md-6">  

     {% include index/carousel.html height="300" %}
	</div>
	
	<div class="h2">Exposicións temporais</div>
{% include feature/card.html header="This is a Card" text="The card features an image from the collection as a cap" objectid="/assets/portadas_expos/portada01.png" width="25" centered=true %}

 
</div>

<div class="row">

 	<div class="col-md-4">  
	{% include feature/image.html objectid="/assets/portadas_expos/portada01.png"  %}
	</div>
	<div class="col-md-4"> 
	{% include feature/image.html objectid="/assets/portadas_expos/portada02.png"  %}
	</div>
	<div class="col-md-4"> 
	{% include feature/image.html objectid="/assets/portadas_expos/portada03.png"  %}
	</div>
</div>